<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">YelpCamp</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<%if (currentUser===undefined){%>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">SignUp</a></li>	
				<%}else{%>
				<li><a>Signed as <%=currentUser.username%></a></li>
				<li><a href="/logout">Logout</a></li>
				<%}%>				
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<%if(error && error.length>0){%>
		<div class="alert alert-danger text-center" role="alert'"><%=error%></div>		
	<%}%>
	<%if(success && success.length>0){%>
		<div class="alert alert-success text-center" role="alert'"><%=success%></div>			
	<%}%>
</div>
