<% include ../partials/header %>
<div class="container text-center">
	<h1>Edit Comment </h1>
	<div class="row">
		<form method="POST" action="/campgrounds/<%=campgroundId%>/comments/<%=comment._id%>?_method=PUT">
			<div class="form-group">
				<input class="form-control" type="text" name="comment[text]" placeholder="text" value="<%=comment.text%>">	
			</div>
			<div class="form-group">
				<input class="btn btn-large btn-primary btn-block" type="submit" value="Save">
			</div>			
		</form>
		<a href="/campgrounds/<%=campgroundId%>">Go Back</a>		
	</div>
</div>
<% include ../partials/footer %>