<% include ../partials/header %>
<div class="container text-center">
	<h1>Create a new Comment to <%=campground.name %></h1>
	<div class="row">
		<form method="POST" action="/campgrounds/<%=campground._id%>/comments">
			<div class="form-group">
				<input class="form-control" type="text" name="text" placeholder="text">	
			</div>
			<div class="form-group">
				<input class="btn btn-large btn-primary btn-block" type="submit" value="Save">
			</div>			
		</form>
		<a href="/campgrounds/<%=campground._id%>">Go Back</a>		
	</div>
</div>
<% include ../partials/footer %>