body{
	background-color: white;
}
div.row form{
	width: 40%;
	margin: 25px auto;
}
.img-responsive {
	margin: 0 auto;
}
.thumbnail img{
	width: 100%;	
}
.thumbnail{
	padding: 0;
}
.thumbnail .caption-full{
	padding: 9px;
}
#deleteForm{
	width: initial;
	margin: initial;
	display: inline;	
}