<% include ../partials/header %>
<div class="container text-center">
	<h1>Edit this Campground</h1>
	<div class="row">
		<form method="POST" action="/campgrounds/<%=campground._id%>?_method=PUT">
			<div class="form-group">
				<input class="form-control" type="text" name="campground[name]" placeholder="name" value="<%=campground.name%>">
			</div>
			<div class="form-group">
				<input class="form-control" type="number" name="campground[price]" placeholder="price" min="0.01" step="0.01" value="<%=campground.price%>">
			</div>				
			<div class="form-group">
				<input class="form-control" type="text" name="campground[image]" placeholder="image" value="<%=campground.image%>">	
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="campground[description]" placeholder="description" value="<%=campground.description%>">	
			</div>			
			<div class="form-group">
				<input class="btn btn-large btn-primary btn-block" type="submit" value="Update">
			</div>			
		</form>
		<a href="/campgrounds/<%=campground._id%>">Go Back</a>		
	</div>
</div>
<% include ../partials/footer %>