<% include ../partials/header %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YELPCAMP!</h1>
			<p>Best camping site</p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>		
		</div>
	</header>
	<div class="row text-center">
		<% campgrounds.forEach(function(campground) { %>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img class="img img-responsive" src="<%=campground.image%>">
					<h4><%=campground.name%></h4>
					<div class="caption"><h4><a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">More Info</a><h4></div>		
				</div>
			</div>
		<%})%>
	</div>
</div>

<% include ../partials/footer %>