<% include ../partials/header %>
<div class="container text-center">
	<h1>Create a new Campgrounds</h1>
	<div class="row">
		<form method="POST" action="/campgrounds">
			<div class="form-group">
				<input class="form-control" type="text" name="name" placeholder="name">
			</div>
			<div class="form-group">
				<input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01" value="0.01">
			</div>			
			<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="image">	
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="description" placeholder="description">	
			</div>			
			<div class="form-group">
				<input class="btn btn-large btn-primary btn-block" type="submit" value="Save">
			</div>			
		</form>
		<a href="/campgrounds">Go Back</a>		
	</div>
</div>
<% include ../partials/footer %>