<% include ../partials/header %>
<div class="container-fluid text-center">
	<h1>SignUp</h1>
	<div class="row">
		<form action='/register' method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<input class="btn btn-primary btn-block" type="submit" name="login" value="Register">	
			</div>		
		</form>
	</div>

</div>

<% include ../partials/footer %>